#about {}

.about-content-text {
    color: var(--white);
    align-self: center;
}

.about-content-text p {
    font-family: Poppins, sans-serif;
    line-height: 1.25;
}

.bounce {
    transition: all 0.3s ease-out;
}

.bounce:hover {
    display: inline-block;
    animation: rubberband 0.8s ease-out;
}

.about-blob-img {
    animation: morph 3.6s linear infinite;
    background: var(--primary-02);
    border-collapse: separate;
    background-size: cover;
    background-position: center;
    outline: 1px solid transparent;
}

.about-content {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5rem;
}

/* .about-content-text,
.about-content-img {
    width: 50%;
} */

.content-img {
    background-image: url(../img/square-avt.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.content-wrap-img {
    height: 300px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.content-img {
    width: 100%;
    height: 100%;
}

.drop-shadow-div {
    appearance: none;
    filter: drop-shadow(0 0 1.5rem #cbbde5);
}

.about-content-text,
.about-content-img {
    width: 100%;
    align-self: center;
}

.content-text-title {
    color: var(--primary-02);
}

.content-wrap-img {
    margin: 2rem auto;
}

/* Tablet */
@media (min-width: 768px) {
    .content-wrap-img {
        width: 60%;
        margin: unset auto;
    }
}

/* Desktop */
@media (min-width: 1136px) {
    .about-content {
        flex-direction: row;
    }
    .about-content-img {
        height: 100%;
    }

    .content-wrap-img {
        height: 300px;
        width: 50%;
    }

    .about-content-text,
    .about-content-img {
        width: 100%;
    }
}

@keyframes rubberband {
    0% {
        transform: scaleX(1);
    }

    40% {
        transform: scaleX(1.12) scaleY(0.75);
    }

    55% {
        transform: scaleX(0.85) scaleY(1);
    }

    65% {
        transform: scaleX(1.09) scaleY(0.85);
    }

    75% {
        transform: scaleX(0.9) scaleY(1);
    }

    90% {
        transform: scaleX(1.05) scaleY(0.95);
    }

    to {
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes morph {

    0%,
    to {
        border-radius: 40% 60% 70% 30%/40% 40% 60% 50%;
        -webkit-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
        -moz-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }

    34% {
        border-radius: 70% 30% 50% 50%/30% 30% 70% 70%;
        -webkit-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        -moz-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    67% {
        border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
        -webkit-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        -moz-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}