:root {
  --white: #f9f9f9;
  --primary-01: #36383f;
  --primary-02: #05edfd;
  --primary-03: #20232f;
  --primary-04: #a83279;
  --primary-05: #67788c;
  --primary-06: #394b60;
  --avatar-size: 236px;
}
